<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="header" th:fragment="header">
		<h1 class="logo">
			<a title=""
				th:style="|background:url(@{/images/logo.png}); background-repeat:no-repeat;|"
				th:href="@{/}">电子商务平台</a>
		</h1>
		<ul class="shortcut">
			<li class="first"><a th:href="@{/user/person}">我的账户</a></li>
			<li><a th:href="@{/user/orders}">我的订单</a></li>
			<li class='last'><a href="">使用帮助</a></li>
		</ul>
		<p class="loginfo">
			您好 <span th:if="${session.user}" th:text="${session.user.account}"></span>，欢迎来到购物商城！[<a
				th:href="@{/login}" class="reg">安全退出</a>] <a
				th:unless="${session.user}" th:href="@{/login}">登录</a> <a
				class="reg" th:unless="${session.user}" th:href="@{/reg}">免费注册</a>
		</p>
	</div>

	<div class="navbar" th:fragment="navbar">
		<ul>
			<li><a href="">首页</a></li>
			<li><a href="">网上购物商城<span> </span></a></li>
		</ul>
		<div class="mycart">
			<dl>
				<dt>
					<a th:href="@{/cart/getcart}">购物车<b name="mycart_count"></b>
					</a>
				</dt>
				<dd>
					<a th:href="@{/cart/getcart}">去结算</a>
				</dd>
			</dl>
			<!--购物车浮动div 开始-->
			<div class="shopping" id="div_mycart" style="display: none;">
				<dl class="cartlist" id="shopcarDiv">
					<dd class="static">
						<span>共<b name="mycart_count"></b>件商品
						</span>金额总计：<b name="mycart_sum"></b>
					</dd>
					<dd class="static">
						<label class="btn_orange"><input type="button"
							value="去购物车结算" onclick="location.href='cart.jsp'"></label>
					</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="searchbar" th:fragment="search">
		<div class="allsort" id="styleArray">
			<a href="javascript:void(0);">全部商品分类</a>
			<ul class="sortlist" id='div_allsort' style='display: none'>
				<li>
					<h2>
						<a href="">Phone</a>
					</h2>
				</li>
				<li>
					<h2>
						<a href="">书籍</a>
					</h2>
				</li>
				<li>
					<h2>
						<a href="">零食</a>
					</h2>
				</li>
				<li>
					<h2>
						<a href="">其他...</a>
					</h2>
				</li>
			</ul>
		</div>

		<script type="text/javascript">
			document
					.getElementById("styleArray")
					.addEventListener(
							'click',
							function() {
								if (document.getElementById("div_allsort").style.display == "block") {
									document.getElementById("div_allsort").style.display = 'none';
								} else {
									document.getElementById("div_allsort").style.display = 'block';
								}
							})
		</script>

		<!-- 	<div class="hotwords">热门搜索：</div> -->
		<div class="hotwords"></div>
		<div class="searchbox">
			<form method='get' action=''>
				<input type='hidden' name='controller' value='site' /> 
				<input type='hidden' name='action' value='search_list' /> 
				<input class="text" type="text" name='word' autocomplete="off"
					placeholder="输入关键字..." /> 
					<input class="btn" type="submit"
					value="商品搜索" onclick="checkInput('word','输入关键字...');" />
			</form>

		</div>
	</div>
	<div class="help m_10" th:fragment="help">
		<div class="cont clearfix">
			<dl>
				<dt>
					<a href="">购物指南</a>
				</dt>
				<dd>
					<a href="">订单状态</a>
				</dd>
				<dd>
					<a href="">交易条款</a>
				</dd>
				<dd>
					<a href="">积分说明</a>
				</dd>
				<dd>
					<a href="">会员制度</a>
				</dd>
				<dd>
					<a href="">购物流程</a>
				</dd>
			</dl>
			<dl>
				<dt>
					<a href="">支付帮助</a>
				</dt>
				<dd>
					<a href="">支付帮助</a>
				</dd>
				<dd>
					<a href="">余额支付</a>
				</dd>
				<dd>
					<a href="">银行电汇</a>
				</dd>
				<dd>
					<a href="">在线支付</a>
				</dd>
				<dd>
					<a href="">货到付款</a>
				</dd>
			</dl>
			<dl>
				<dt>
					<a href="">配送帮助</a>
				</dt>
				<dd>
					<a href="">EMS/邮政普包</a>
				</dd>
				<dd>
					<a href="">商品验货与签收</a>
				</dd>
				<dd>
					<a href="">加急快递</a>
				</dd>
				<dd>
					<a href="">上门自提</a>
				</dd>
				<dd>
					<a href="">配送范围及运费</a>
				</dd>
			</dl>
			<dl>
				<dt>
					<a href="">售后服务</a>
				</dt>
				<dd>
					<a href="">售后服务</a>
				</dd>
				<dd>
					<a href="">发票制度</a>
				</dd>
				<dd>
					<a href="">余额的使用与提现</a>
				</dd>
				<dd>
					<a href="">退/换货注意事项</a>
				</dd>
				<dd>
					<a href="">退货说明</a>
				</dd>
				<dd>
					<a href="">换货说明</a>
				</dd>
			</dl>
			<dl>
				<dt>
					<a href="">帮助信息</a>
				</dt>
				<dd>
					<a href="">友情链接</a>
				</dd>
				<dd>
					<a href="">诚聘英才</a>
				</dd>
				<dd>
					<a href="">联系客服</a>
				</dd>
				<dd>
					<a href="">退订邮件/短信</a>
				</dd>
				<dd>
					<a href="">找回密码</a>
				</dd>
				<dd>
					<a href="">常见问题</a>
				</dd>
				<dd>
					<a href="">关于我们</a>
				</dd>
			</dl>
		</div>
	</div>
	<div class="footer" th:fragment="footer">
		<p class="links">
			<a href="">关于我们</a>|<a href="">常见问题</a>|<a href="">安全交易</a>|<a
				href="">购买流程</a>|<a href="">如何付款</a>|<a href="">联系我们</a>|<a href="">合作提案</a>
		</p>
		Copyright © 2005-2016 <a class="copyys" target="_blank" href="">蜀ICP备01000010号</a>
	</div>
</body>
</html>