<div class="box m_10 green" name="showGoods">
	<input type="hidden" class="hidden_input" value="1" />
	<div class="title title3">
		<h2>
			<a href=""><strong style="font-family: '楷体';">书籍</strong></a>
		</h2>
		<a class="more" href="/book/booklist/2">更多商品...</a>
	</div>

	<div class="cont clearfix">
		<ul class="prolist prolist0">
			<!-- 循环输出Book信息： -->
			<li style="overflow: hidden"><a href="/bookview/2"><img
					src="Bookimage/spring.jpg" width="160" height="175" alt="" title=""></a>
				<p class="pro_title">
					<a title="" href="/bookview/2">Spring</a>
				</p>
				<p class="brown">
					惊喜价：<b>￥<span>88.0</b>
				</p>
				<p class="light_gray">
					市场价：<s>￥<span>100.0</span></s>
				</p></li>
			<li style="overflow: hidden"><a href="/bookview/2"><img
					src="Bookimage/springmvc.jpg" width="160" height="175" alt="" title=""></a>
				<p class="pro_title">
					<a title="" href="/bookview/2">Spring MVC</a>
				</p>
				<p class="brown">
					惊喜价：<b>￥<span>88.0</b>
				</p>
				<p class="light_gray">
					市场价：<s>￥<span>100.0</span></s>
				</p></li>
			<!-- 循环book结束。 -->
		</ul>
	</div>



</div>
<div class="box m_10 green" name="showGoods">
	<input type="hidden" class="hidden_input" value="2" />
	<div class="title title3">
		<h2>
			<a href=""><strong style="font-family: '楷体';">零食</strong></a>
		</h2>
		<a class="more" href="/book/booklist/3">更多商品...</a>
	</div>
	<div class="cont clearfix">
		<ul class="prolist prolist1">
			<!-- 循环输出Book信息： -->
			<li style="overflow: hidden"><a href="/bookview/3"><img
					src="Bookimage/defu.jpg" width="160" height="175" alt="" title=""></a>
				<p class="pro_title">
					<a title="" href="/bookview/3">零食</a>
				</p>
				<p class="brown">
					惊喜价：<b>￥<span>88.0</b>
				</p>
				<p class="light_gray">
					市场价：<s>￥<span>100.0</span></s>
				</p></li>
			<li style="overflow: hidden"><a href="/bookview/3"><img
					src="Bookimage/anmuxi.jpg" width="160" height="175" alt="" title=""></a>
				<p class="pro_title">
					<a title="" href="/bookview/3">零食</a>
				</p>
				<p class="brown">
					惊喜价：<b>￥<span>90.0</b>
				</p>
				<p class="light_gray">
					市场价：<s>￥<span>98.0</span></s>
				</p></li>
			<!-- 循环book结束。 -->
		</ul>
	</div>

</div>